aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.4.0
cachetools==4.2.4
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.10
fuzzywuzzy==0.18.0
google-api-core==2.4.0
google-auth==2.3.3
google-cloud-dialogflow==2.11.0
googleapis-common-protos==1.54.0
grpcio==1.43.0
grpcio-status==1.43.0
idna==3.3
multidict==5.2.0
proto-plus==1.19.8
protobuf==3.19.3
py-cord==1.7.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
python-Levenshtein==0.12.2
requests==2.27.1
rsa==4.8
six==1.16.0
typing-extensions==4.0.1
urllib3==1.26.8
yarl==1.7.2
